# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.tgz
*.zip
*.doc
*.docx
*.vscode
*.vs

# Certain folders
hmm-master
Markov Chain
講義
srilm-1.5.10

# Certain files
Final_Project.pptx
report.pdf
Reproduce.pdf
